* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

img {
    display: block;
    margin: 142px auto 35px auto;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}

p {
    display: block;
    margin: 70px 44px 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

button {
    display: block;
    border: none;
    margin: 0 auto 50px auto;
    width: 173px;
    height: 46px;
    left: 121px;
    top: 729px;
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}